{% extends 'layout.html' %}
{% block title %}Event Details{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-md-12">
        <h2>Event: {{ event.title }}</h2>
        <p>Description: {{ event.description }}</p>
        <p>Date: {{ event.date_event.strftime('%Y-%m-%d %H:%M') }}</p>
        <p>Invite Code: {{ event.invite_code }}</p>
        <div>
            <h3>Playlists</h3>
            <form method="post" action="{{ url_for('views.search_song', event_id=event.id) }}">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search for a song..." name="query" required>
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
            <div class="list-group">
                {% for song in event.songs %}
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        {{ song.title }} by {{ song.artist }} 
                        <span class="badge bg-primary">{{ song.votes|length }} votes</span>
                    </div>
                    <form action="{{ url_for('views.vote_song', song_id=song.id) }}" method="post">
                        <button type="submit" class="btn btn-sm btn-primary">Vote</button>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
